#homepage
  main
    div.row:first-child
      margin-top: 90px
    #search-form
      margin-top: -20px
      form
        div
          width: 600px
          margin-right: auto
          margin-left: auto
          text-align: center
          &.search-button-wrapper
            margin-top: 15px
  button[type="submit"].search-button
    background-color: $secondary-color
    border: none
    display: inline-block
    padding: 0 2rem
    height: 40px
    line-height: 40px
    border-radius: 2px
    color: white